
<section class="home-section" style="background-image: url('assets/courses-images/literature.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
              <h1 class="display-4 text-white">ברוכים הבאים לאתרנו</h1>
              <p class="lead text-white">שלום לך {{user.name}} בואי ותהני ממגוון רחב של קורסים מצוינים</p>
              <mat-icon>favorite</mat-icon>
              <!-- <mat-icon>book</mat-icon>
              <mat-icon>home</mat-icon>
              <mat-icon>camera</mat-icon>
              <mat-icon>girle</mat-icon>
              <mat-icon>cloud</mat-icon> -->
              <!-- <app-icons (iconSelected)="onIconSelected($event)"></app-icons>
             <p>You selected: {{ selectedIcon }}</p> -->

            </div>
        </div>
    </div>
</section>

